lc_solver; xpress
lc_model; direct_relaxation
lc_write_lp_file; true
lpool_costs_fixed; 0.14
lpool_costs_length; 0.63
lpool_costs_edges; 0
lpool_costs_vehicles; 0
console_log_level; DEBUG
#lpool_model; terminal-to-terminal
#lpool_restrict_terminals; true
od_remove_uncovered_demand_points; false
lc_budget; 9721.30
#lc_direct_optimize_costs; true
#lc_mult_relation; 0.90
